@import 'settings';
$_RED: #bc141b;
$_BLACK: #585757;
$i: !important;

body,
html, 
.body {
  background: $white$i;
}

.container.header {
  background: $white$i;
}
table.container {
  width: 600px$i;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  //background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header {
  //color: #fff;
}

.header .wrapper-inner {
  //padding: 20px;
}

.header .container {
  background: transparent;
}

.top-title {
  font-size: 18px;
  font-weight: bold;
}

.block-wrapper {
  width: 95%$i;
  &__paragraph-padding {
    padding: 10px 0$i;
    margin-bottom: 0$i;
  }
}

.red-block-wrapper {
  width: 95%$i;
  .callout-inner {
    padding: 10px 20px$i;
    margin-bottom: 0$i;
  }
}
.white-block {
  border: none$i;
  background: #FFF$i;
}

.red-block {
  border-radius: 3px;
  border: none$i;
  background-color: $_RED$i;

  &__title {
    font-size: 16px;
    color: $white;
  }
  &__text {
    color: $white;
    font-size: 15px;
    line-height: 1.8;
  }
}
.title-h2 {
  font-size: 18px;
}
.red-text {
  color: $_RED$i;
}
.paragraph-text {
  color: $_BLACK$i;
}
.pad-b-0 {
  padding-bottom: 0$i;
  .columns {
    padding-bottom: 0$i;
  }
}
.pad-0 {
  padding: 0$i;
  .columns {
    padding: 0$i;
  }
}
.pad-r-0 {
  padding-right: 0$i;
  .columns {
    padding-right: 0$i;
  }
}
.icon-round {
  width: 55px$i;
  height: 55px$i;
}
.col-fix-width-70 {
  width: 62px $i;
  padding: 0$i;
}