@import 'settings';
$_RED: #bc141b;
$_BLACK: #585757;
$i: !important;
table.body .columns {
  .arrow-icons-block {

  }
}
body,
html, 
.body {
  background: $white$i;
  .layout {
    width: 600px$i;
    min-width: 600px$i;
    .attention-section, .how-section, .banka-section {
      width: 600px$i;
    }
  }
}
.body {
  padding-left: 4px$i;
  padding-right: 4px$i;
  // width: 600px$i;
}
.container.header {
  height: 101px;
}
table.container {
  width: 600px$i;
}
.main-title {
  font-size: 20px;
}
.first-section {
  &__title {

  }
  &__image {
    width: 214px$i;
  }
  &__red-text {
    font-size: 16px;
    color: #e21f26;
  }
  &__left {
  }
  &__right {
    padding-left: 8px;
  }
}
.paragraph-text {
  font-size: 14px$i;
  color: #414141$i;
  text-decoration: none;
}
.paragraph-text-white {
  font-size: 14px$i;
  color: white$i;
  text-decoration: none;
}
.paragraph-text-dark {
  font-size: 14px$i;
  color: #000000$i;
  text-decoration: none;
}
.paragraph-text-dark-bold {
  font-size: 14px$i;
  color: #000000$i;
  font-weight: bold;
}
.paragraph-text-red-bold {
  font-size: 14px$i;
  color: #e21f26$i;
  font-weight: bold;
}
.paragraph-text-dark-bold-decorated {
  font-size: 14px$i;
  color: #000000$i;
  font-weight: bold;
  text-decoration: underline;
}
.banka-section {
  &__paragraph {
    font-size: 16px$i;
  }
}
.why-section {
  &__text {
    font-size: 12px$i;
    padding-right: 20px$i;
    line-height: 1.8$i;
  }
  &__logo {

  }
}
.banka-bg {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 479px;
  &__red-block {
    background-color: #e21f26;
  }
  &__paragraph {
    font-size: 12px$i;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__black-text {
    font-size: 30px$i;
    margin-bottom: 0$i;
  }
  &__red-text {
    font-size: 34px$i;
    font-weight: bold;
    color: #e21f26$i;
  }
}
.attention-section {
  &__title {
    font-weight: bold$i;
    font-size: 26px$i;
    color: #e21f26$i;
  }
  &__coltext {
    padding-right: 30px;
    padding-left: 18px$i;
    font-size: 12px$i;
  }
}
.how-to-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 549px;
  width: 568px;
  height: 382px;
  &__text-wrapper {
    background-color: #e21f26;
    padding: 8px;
  }
  &__text {
    font-size: 12px$i;
  }
}